[submodule "server/3rdparty/asio"]
	path = server/3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "server/3rdparty/pigpio"]
	path = server/3rdparty/pigpio
	url = https://github.com/joan2937/pigpio.git
[submodule "server/3rdparty/dukglue"]
	path = server/3rdparty/dukglue
	url = https://github.com/ming4883/dukglue.git
[submodule "server/3rdparty/loguru"]
	path = server/3rdparty/loguru
	url = https://github.com/emilk/loguru.git
[submodule "client-qt/3rdparty/glm"]
	path = client-qt/3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "client-qt/3rdparty/imgui"]
	path = client-qt/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
